html {
  font-family: 'Inter', sans-serif;
  font-family: 'Lobster', cursive;
  font-family: 'Lora', serif;
  font-family: 'Playfair Display', serif;
}
body {
  margin: 0 10px;
}
.start,
h4,
.fusion-footer,
.btn-block,
.btn-service {
  text-align: center;
}
h1,
h3,
h5 {
  text-align: center;
  padding: 20px 0;
  letter-spacing: 10px; 
} 
.name {
  letter-spacing: 20px; 
  font-size: 18px;
  text-align: center;
  margin-top: -5px;
  margin-bottom: 25px;
}
.nav-block {
  display: flex;
  justify-content: center;
}
.nav-block li {
  margin-bottom: 20px; 
}
.nav-block li a {
  letter-spacing: 2px; 
  font-size: 18px;
  margin: 0 30px;
  color: black;
}
.image {
  margin: 0 auto;
}
.content-contact {
  display: flex;
  justify-content: center;
}
.texts {
  font-size: 18px;
  padding-top: 15px;
}
.contact {
  max-width: 900px;
  letter-spacing: 2px; 
  font-size: 18px;
  padding: 20px 0;
}
.contact-cont {
  max-width: 670px;
  letter-spacing: 2px; 
  font-size: 18px;
  text-align: center;
}
.accordion {
  background-color: white;
  margin-top: 20px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: solid black 1px;
  transition: 0.2s;
}
.active, 
.accordion:hover {
  color:white;
  background-color: rgb(53, 50, 50);
}
.accordion-contact {
  display: flex;
  align-items: center;
  padding: 15px 50px;
  margin: 40px auto;
  border: solid black 1px;
  background-color: white;
}
.accordion-contact a {
  color: black;
}
.accordion-contact:hover {
  color:white;
  background-color: rgb(80, 76, 76);
}
.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}
.heading {
  font-size: 22px;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 1px 1px silver; 
  margin: 20px;
}
.card {
  margin-left: 80px;
}
.content {
  letter-spacing: 2px; 
  font-size: 18px;
  text-align: center;
  margin: 50px;
}
.row {
  padding: 10px;
}
 .card-title,
 .card-text,
 .card-body-left,
 .card-body-right { 
  letter-spacing: 2px; 
  font-size: 18px;
  margin: 30px 20px;
  text-align: center;
}
.row-right {
  display: flex;
  text-align: center;
}
.btn {
  margin:20px 0;
}
.btn a {
  border: solid black 1px;
  padding: 15px 25px;
  letter-spacing: 2px; 
  font-size: 16px;
  color: black;
}
.btn a:hover {
  transition: 0.2s;
  background-color: rgb(65, 61, 61);
  color: white;
}
.footer-conten h3 {
  padding: 30px 0;
}
.footer-content {
  margin-top: 50px;
  letter-spacing: 2px; 
  font-size: 14px;
  text-align: center;
}
p {
  line-height: 35px;
  letter-spacing: 2px; 
  font-size: 18px;
  margin: 50px;
}
.box-one img {
  max-width: 600px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-conten h3,
.box-two { 
  margin: 30px;
}
.content-heading {
  letter-spacing: 4px; 
  text-align: center;
}
.port {
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
}
.content-contact {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
form {
  margin: 0 auto;
  max-width: 700px;
}
input {
  border-radius: 3px;
  width: 100%;
  height: 50px;
  background-color: white;
  border: solid black 1px;
}
.col {
  padding: 10px;
}
textarea {
  border-radius: 3px;
  width: 100%;
  height: 100px;
  border: solid black 1px;
}
label {
  margin-left: 38%;
  letter-spacing: 2px; 
  padding: 10px 25px;
  border: 1px solid black;
}
label:hover {
  background-color: rgb(65, 61, 61);
  color: white;
  transition: 0.4s;
}
.footer-icon {
  text-align: center;
  padding-bottom: 50px;
}
.footer-icon img {
  width: 20px;
  height: 20px;
  margin: 10px;
}
@media all and (max-width: 760px){
  .row-right {
    flex-direction: column-reverse;
  }
}
@media all and (max-width: 920px) {
  .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-body_left {
     margin: 0 auto;
  }
  .wrapper {
    flex-direction: column;
  }
  label {
    margin-left: auto;
  }
  
}